<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @board.name %>
</p>

<p>
  <strong>About:</strong>
  <%= @board.about %>
</p>

<p>
  <strong>User:</strong>
  <%= @board.user.name %>
</p>

<p> This user has Pinned: </p>
	<ul>
	<% @board.pins.each do |pin| %>
		<li> <%= pin.name %> </li>
		<% end %>
	</ul>

<%= link_to 'Edit', edit_board_path(@board) %> |
<%= link_to 'Back', boards_path %>
